@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*antd的样式*/

.ant-menu-light.ant-menu-root {
  border-inline-end: none !important;
}

/*登陆页面*/
.ant-tabs-nav {
  padding-left: 16px !important;
}

.ant-drawer-body{
  padding: 0 !important;
}

.ant-drawer-header{
  padding: 6px !important;
}






/*!* 整体容器样式 *!*/
/*.containerX {*/
/*  display: flex;*/
/*  height: 100vh;*/
/*}*/

/* 左边固定宽度的列 */
.leftX {
  /*width: 240px;*/
  /*background-color: #f0f0f0;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

/*!* 右边自适应宽度的列 *!*/
/*.rightX {*/
/*  flex: 1;*/
/*  !*background-color: #e0e0e0;*!*/
/*  margin-left: 240px;*/
/*}*/
